<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/header', { title: "User Index" }) %>
</head>

<body class="bg-light d-flex justify-content-center align-items-center" style="min-height: 100vh;">
	<div class="container text-center">
		<h2>Our Social Media Features</h2>
		<a href="/userIndex/redirect-to-video" class="btn btn-primary mt-3">Upload Your Video</a>
		<a href="/chat/index" class="btn btn-primary mt-3">Want to chat with other users</a>

	</div>
</body>

</html>