<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/header', { title: "Social Media App" }) %>
</head>

<body class="bg-light d-flex justify-content-center align-items-center" style="min-height: 100vh;">
	<div class="container text-center">
		<h2>Welcome to our our Social Media</h2>
		<a href="register" class="btn btn-primary mt-3">Register User</a>
		<a href="login" class="btn btn-secondary mt-3">Login</a>
	</div>
</body>

</html>