<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/header', { title: "Social Chat" }) %>
	<link rel="stylesheet" href="/chatStyles.css">
</head>

<body>
	<section class="chat__section">
		<div class="brand">
			<img height="40" src="/chat.png" alt="">
			<h1>Chatting</h1>
		</div>
		<div class="message__area"></div>
		<div>
			<textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
		</div>
	</section>
	<script src="/socket.io/socket.io.js" data-no-source-map></script>
	<script src="/client.js"></script>
</body>

</html>