<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/header', { title: "Chat Index" }) %>
</head>

<body class="bg-light d-flex justify-content-center align-items-center" style="min-height: 100vh;">
	<div class="container text-center">
		<h2>Welcome to our Chat Module</h2>
		<a href="" class="btn btn-primary mt-3">Chat with specific User</a>
		<a href="/chat/openly" class="btn btn-primary mt-3">Chat Openly</a>
	</div>
</body>

</html>